// 
// Sidenav Dark
// 

// Dark theme for sidenav
// Append .sb-sidenav-dark to .sb-sidenav to use

.sb-sidenav-dark {
    background-color: #cce9ff;
    color: $sidenav-dark-color;

    .sb-sidenav-menu {
        .sb-sidenav-menu-heading {
            color: black;
        }

        .nav-link {
            color: black;

            .sb-nav-link-icon {
                color: black;
            }

            .sb-sidenav-collapse-arrow {
                color: black;
            }

            &:hover {
                color: #ff751a;
            }
			&:active {
				color: #ff751a;
			}

        }
    }

    .sb-sidenav-footer {
        background-color: #cce9ff;
		color:black
    }
}
