nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            .sb-sidenav-menu-heading
                | Chat & Research
        
            a.nav-link(href='index.html')
                img(src="assets/img/documentChat.svg", title="Perform ad-hoc or structured queries", alt="Document Chat", height="35", class="me-2")
                | Document Chat
            a.nav-link(href='directory.html')
                img(src="assets/img/directory.svg", title="Review Source Files", alt="Directory", height="35", class="me-2")
                | Directory

            .sb-sidenav-menu-heading
                | Model Analysis 
            a.nav-link(href='validate.html')
                img(src="assets/img/modelValidate.svg", title="Validate Model Values", alt="Model Validate", height="35", class="me-2")
                | Model Validate
            a.nav-link(href='aup.html')
                img(src="assets/img/aup.svg", title="Agreed Upon Procedure", alt="Agreed Upon Procedure", height="35", class="me-2")
                | AUP
            a.nav-link(href='tabulate.html')
                img(src="assets/img/tabulate.svg", title="Qualitative Analysis", alt="Model Tabulate", height="35", class="me-2")
                | Tabulate

            .sb-sidenav-menu-heading
                | Model Transformation 
            a.nav-link(href='modelmerge.html')
                img(src="assets/img/merge.svg", title="Merge Models to a Common Format", alt="Model Merge", height="35", class="me-2")
                | Model Merge

            .sb-sidenav-menu-heading
                | Deal Tools
            a.nav-link(href='checklist.html')
                img(src="assets/img/checklist.svg", title="Review Closing Checklists", alt="Checklist Manager", height="35", class="me-2")
                | Checklist Manager
            a.nav-link(href='dealmanager.html')
                img(src="assets/img/dealmanager.svg", title="Deal Dashboard", alt="Deal Manager", height="35", class="me-2")
                | Deal Manager
            .sb-sidenav-menu-heading
                | External Tools
            a.nav-link(href='copilot.html')
                img(src="assets/img/copilot.svg", title="Access Copilot", alt="Access Copilot", height="35", class="me-2")
                | Access Copilot
    .sb-sidenav-footer
        
        .small Logged in as:
          #userName
          #userEmail


