extends ../layouts/dashboard.pug

block config
  - var bodyClass = 'sb-nav-fixed'
  - var pageTitle = 'Checklist'
  - var index = true
  - var sidenavStyle = 'sb-sidenav-dark'

block content
  #master-container
    include checklist-demo-body.pug

append scripts
  script(src="js/checklist-demo.js")
