extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Copilot';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    
prepend css
    //- Load Simple DataTables Stylesheet
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css', rel='stylesheet')
block content
    .container-fluid.px-4
        h1.mt-4 Copilot
        | We’re excited to share that Microsoft is introducing a new Chat API for Microsoft 365 Copilot, which will soon be available for public preview. This will allow us to bring Copilot’s powerful conversational capabilities directly into our platform—enabling you to ask questions, perform tasks, and get guidance based on your own Microsoft 365 data and context.As soon as this feature becomes publicly available, we’ll release our Copilot integration, giving you seamless access to AI assistance that works hand-in-hand with your existing Microsoft 365 environment.