extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Directory';
    - var sidenavStyle = 'sb-sidenav-dark'
    
block content
    #directory-container
        .dir-navbar
            span.navbar-title Directory

        // The service injects content here
        #directoryMountPoint

append scripts
    script(type="module", src="js/directory-entry.js")
	
prepend css
    link(rel="stylesheet", href="assets/css/directory.css")
