// 
// Global
// 

html,
body {
    height: 100%;
}

#navbarDropdown.dropdown-toggle::after {
  border-top-color: #000 !important; /* Force black arrow */
}

.nav-link.active {
  background-color: #0078d4;
  color: white !important;
}
